<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Display</title>
    <link rel="stylesheet" href="../../site/dist/custom.css">
  </head>
  <body>
    <section class="offer-highlights">
      <div class="grid-container">
        <div class="offer-highlights_row">

          <div class="offer-highlights_row-left">
            <h6 class="offer-highlights_row-left--title">FIND PERFECT DEALS IN PERFECT LOCATIONS</h6>
            <p class="offer-highlights_row-left--desc">Enjoy a great deal more when you book direct</p>
            <a href="" class="offer-highlights_row-left--link">View All Offers</a>
          </div> <!-- ./offer-highlights_row-left -->

          <div class="offer-highlights_row-right">            
            <img class="offer-highlights_row-right--img" src="../../resources/images/offer-display/one.png" alt="offer-1" loading="lazy" />
            <div class="overlay"></div>
            <div class="offer-highlights_row-right--details">
              <h4 class="offer-highlights_row-right--details--title">Fraser World Member Exclusive</h4>
              <a href="#" class="offer-highlights_row-right--details--link">View Details</a>
              <div class="offer-highlights_row-right--details__pricing">
                <div class="offer-highlights_row-right--details__pricing--price">
                  <div class="offer-highlights_row-right--details__pricing--price_from">
                    <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                    <p class="offer-highlights_row-right--details__pricing--price_from-desc">S&#36; 68</p>
                  </div> <!-- ./offer-highlights_row-left -->
                  <div class="offer-highlights_row-right--details__pricing--price_members-only">
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--title">MEMBERS ONLY</p>
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">S&#36; 35</p>
                  </div> <!-- ./offer-highlights_row-left -->
                </div> <!-- ./offer-highlights_row-left -->
                <div class="booking-button">
                  <a href="#" class="btn btn-gold" style="padding: 7px 30px"> BOOK NOW</a>
                </div> <!-- ./offer-highlights_row-left -->
              </div> <!-- ./offer-highlights_row-left -->
            </div> <!-- ./offer-highlights_row-left -->
                
          </div> <!-- ./offer-highlights_row-left -->
        </div> <!-- ./offer-highlights_row -->

        <div class="offer-highlights_row">
          
          <div class="offer-highlights_row-right">
            <img class="offer-highlights_row-right--img" src="../../resources/images/offer-display/two.png" alt="offer-2" loading="lazy" />
            <div class="overlay"></div>
            <div class="offer-highlights_row-right--details" style="padding: 15px 20px">
              <h4 class="offer-highlights_row-right--details--title">Sweet Dreams & Breakfast</h4>
              <a class="offer-highlights_row-right--details--link">View Details</a>
              <div class="offer-highlights_row-right--details__pricing">
                <div class="offer-highlights_row-right--details__pricing--price">
                  <div class="offer-highlights_row-right--details__pricing--price_from">
                    <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                    <p class="offer-highlights_row-right--details__pricing--price_from-desc">S&#36; 68</p>
                  </div>
                  <div class="offer-highlights_row-right--details__pricing--price_members-only">
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--title">MEMBERS ONLY</p>
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">S&#36; 35</p>
                  </div>
                </div>
                <div class="booking-button">
                  <a href="#" class="btn btn-gold" style="padding: 7px 20px"> BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>

          <div class="offer-highlights_row-right">
            <img class="offer-highlights_row-right--img" src="../../resources/images/offer-display/three.png" alt="offer-2" loading="lazy" />
            <div class="overlay"></div>
            <div class="offer-highlights_row-right--details" style="padding: 15px 20px">
              <h4 class="offer-highlights_row-right--details--title">Sweet Dreams & Breakfast</h4>
              <a class="offer-highlights_row-right--details--link">View Details</a>
              <div class="offer-highlights_row-right--details__pricing">
                <div class="offer-highlights_row-right--details__pricing--price">
                  <div class="offer-highlights_row-right--details__pricing--price_from">
                    <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                    <p class="offer-highlights_row-right--details__pricing--price_from-desc">S&#36; 68</p>
                  </div>
                  <div class="offer-highlights_row-right--details__pricing--price_members-only">
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--title">MEMBERS ONLY</p>
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">S&#36; 35</p>
                  </div>
                </div>
                <div class="booking-button">
                  <a href="#" class="btn btn-gold" style="padding: 7px 20px"> BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>

          <div class="offer-highlights_row-right">
            <img class="offer-highlights_row-right--img" src="../../resources/images/offer-display/four.png" alt="offer-2" loading="lazy" />
            <div class="overlay"></div>
            <div class="offer-highlights_row-right--details" style="padding: 15px 20px">
              <h4 class="offer-highlights_row-right--details--title">Sweet Dreams & Breakfast</h4>
              <a class="offer-highlights_row-right--details--link">View Details</a>
              <div class="offer-highlights_row-right--details__pricing">
                <div class="offer-highlights_row-right--details__pricing--price">
                  <div class="offer-highlights_row-right--details__pricing--price_from">
                    <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                    <p class="offer-highlights_row-right--details__pricing--price_from-desc">S&#36; 68</p>
                  </div>
                  <div class="offer-highlights_row-right--details__pricing--price_members-only">
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--title">MEMBERS ONLY</p>
                    <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">S&#36; 35</p>
                  </div>
                </div>
                <div class="booking-button">
                  <a href="#" class="btn btn-gold" style="padding: 7px 20px"> BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- ./offer-highlights_bottom -->

      </div>

    </section> <!-- ./offer-highlights -->
  </body>
</html>