<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Display</title>
    <link rel="stylesheet" href="../../site/dist/custom.css">
  </head>
  <body>
    <section class="offer-display-home-page">
        <div class="offer-item1">
          <h2>FIND PERFECT DEALS IN PERFECT LOCATIONS</h2>
          <p class="offer-enjoy">Enjoy a great deal more when you book direct</p>
          <p class="view-all-offers">View All Offers</p>
        </div>
        <div class="offer-item2">            
          <img src="../../resources/images/offer-display/one.png" alt="offer-1">
          <div class="overlay"></div>
          <div class="offer-details">
              <h4>Fraser World Member Exclusive</h4>
              <p class="vd">View Details</p>
              <div class="prize-details">
                  <div class="prize">
                      <div class="from">
                          <p class="from-p">FROM</p>
                          <p class="from-prize">S&#36; 68</p>
                      </div>
                      <div class="members-only">
                          <p class="members">MEMBERS ONLY</p>
                          <p class="members-prize">S&#36; 35</p>
                      </div>
                  </div>
                  <div class="booking-button">
                      <a href="#" class="btn btn-gold"> BOOK NOW</a>
                  </div>
              </div>
          </div>
            
        </div>
        <div class="offer-item3">
            <img src="../../resources/images/offer-display/two.png" alt="offer-2">
            <div class="overlay"></div>
            <div class="offer-details">
                <h4>Sweet Dreams & Breakfast</h4>
                <p class="vd">View Details</p>
                <div class="prize-details">
                    <div class="prize">
                        <div class="from">
                            <p class="from-p">FROM</p>
                            <p class="from-prize">S&#36; 68</p>
                        </div>
                        <div class="members-only">
                            <p class="members">MEMBERS ONLY</p>
                            <p class="members-prize">S&#36; 35</p>
                        </div>
                    </div>
                    <div class="booking-button">
                        <a href="#" class="btn btn-gold"> BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-item4">
            <img src="../../resources/images/offer-display/three.png" alt="offer-3">
            <div class="overlay"></div>
            <div class="offer-details">
                <h4>9 to 5 Special</h4>
                <p class="vd">View Details</p>
                <div class="prize-details">
                    <div class="prize">
                        <div class="from">
                            <p class="from-p">FROM</p>
                            <p class="from-prize">S&#36; 68</p>
                        </div>
                        <!-- <div class="members-only">
                            <p class="members">MEMBERS ONLY</p>
                            <p class="members-prize">S&#36; 35</p>
                        </div> -->
                    </div>
                    <div class="booking-button">
                        <a href="#" class="btn btn-gold"> BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-item5">
            <img src="../../resources/images/offer-display/four.png" alt="offer-4">
            <div class="overlay"></div>
            <div class="offer-details">
                <h4>60 Days Advanced Purchase</h4>
                <p class="vd">View Details</p>
                <div class="prize-details">
                    <div class="prize">
                        <div class="from">
                            <p class="from-p">FROM</p>
                            <p class="from-prize">S&#36; 68</p>
                        </div>
                    </div>
                    <div class="booking-button">
                        <a href="#" class="btn btn-gold"> BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>