<!DOCTYPE html>
<html>
  <head>
    <title>Booking Widget</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../site/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
    <link rel="stylesheet" type="text/css" href="../../site/css/daterangepicker.css" />
  </head>
  <body>

    <section class="home-booking-widget">
      <div class="grid-container">
        <div class="home-booking-widget_section">
          <div class="home-booking-widget_section-top">
            <div class="home-booking-widget_section-top__search_container">
              <i class="fa fa-search"></i>
              <input type="text" class="home-booking-widget_section-top__search_container_input gold_input" autocomplete="off" placeholder="Fraser Suites Le Claridge Champs Elysees, Paris" />
              <div class="home-booking-widget_section-top__search_container_search_list--container">
                <p class="home-booking-widget_section-top__search_container_search_list--container_country-name"><a href="#">indonesia</a></p>
                <span class="home-booking-widget_section-top__search_container_search_list--container_state"><a href="#">jhakarta</a></span>
                <ul class="home-booking-widget_section-top__search_container_search_list--container_list">
                  <li><a href="#">Fraser Suites CBD, Beijing China</a></li>
                  <li><a href="#">Fraser Suites CBD, Beijing China</a></li>
                  <li><a href="#">Fraser Suites CBD, Beijing China</a></li>
                </ul>
              </div>
            </div>
            <div class="home-booking-widget_section-top__date_picker">
              <input id="home_booking_calendar" type="text" class="home-booking-widget_section-top__search_container--date_input gold_input" placeholder="Thu, Jun 03 - Sat, Jun 05" name="daterangepicker" />
            </div>
            <div class="home-booking-widget_section-top__pax_selector">
              <input type="text" class="home-booking-widget_section__pax-input gold_input" placeholder="1 Adult, 0 Children" />
            </div>
            <div class="home-booking-widget_section-top__check_rate">
              <button class="btn btn-gold button-full-width">check rates</button>
            </div>
          </div>
          <div class="home-booking-widget_section-bottom">
            <div class="home-booking-widget_section-bottom_container">
              <div class="home-booking-widget_section-bottom_container--left">
                <div class="form-checkbox">
                  <input class="checkbox" type="checkbox" id="checkbox1">
                  <label for="checkbox1" tabindex="1">use points</label>
                </div>
                <div class="form-control">
                  <input type="text" class="home-booking-widget_section-bottom_container--left_promo_code" placeholder="enter promo code" />
                </div>
              </div>
              <div class="home-booking-widget_section-bottom_container--right">
                <a href="">Best Rates Guarantee</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
  <script src="../../site/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../site/js/moment.min.js"></script>
  <script type="text/javascript" src="../../site/js/daterangepicker.min.js"></script>
  <script type="text/javascript">


    // $(function(){
      
    //   var vals=$('#home_booking_calendar').daterangepicker();
    //   $('input[name="daterangepicker"]').daterangepicker({
    //     minDate:new Date()
    //   });

    //   $('.left').prepend('<span id="left"> check Availability </span>'); 
    //   $('.right').prepend('<span id="right"> offer is not available on selected dates </span>'); 

    // })
  </script>
</html>
