* {
	box-sizing: border-box;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
}
.template-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1% 10%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.grid-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.grid-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.column {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.grid-100 {
	width: 100%;
}
.full-width{
  width: 100%;
}
.no-mt {
	margin-top: 0;
}
.mt-15 {
	margin-top: 15px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-30 {
	margin-bottom: 30px;
}
.no-padding {
	padding: 0 !important;
}
.no-padding_top {
	padding-top: 0 !important;
}
.no-padding_left {
	padding-left: 0 !important;
}
.no-padding_bottom {
	padding-bottom: 0 !important;
}
.no-padding_right {
	padding-right: 0 !important;
}
.padding-15 {
	padding: 15px;
}
.padding-30 {
	padding: 30px;
}
.padding-top-50 {
	padding-top: 50px;
}
.padding-bottom-50 {
	padding-bottom: 50px;
}
a {
	text-decoration: none;
	color: #866D4B;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid transparent;
	margin: 0;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	font: normal normal normal 14px/17px 'Cormorant_Garamond-Regular';
	letter-spacing: 0px;
	&:disabled {
		background-color: #DBDBDB;
		color: #5F5F5F;
		border-color: #DBDBDB;
		cursor: not-allowed;
		&:hover {
			background-color: #DBDBDB;
			color: #5F5F5F;
			border-color: #DBDBDB;
			cursor: not-allowed;
		}
	}
}
.btn-gold {
	background-color: #866D4B;
	border-color: #866D4B;
	color: #fff;
	&:hover {
		background-color: transparent;
		border-color: #866D4B;
		color: #866D4B;
	}
	&:active {
		background-color: transparent;
		border-width: 2px;
		color: #866D4B;
	}
}
input {
	width: 90%;
	padding: 5px 10px 10px 2px;
	border-width: 0 0 1px 0;
	font: normal normal medium 16px/40px 'Roboto-Regular';
	letter-spacing: 0px;
	&::placeholder {
		color: #866D4B;
	}
}
select {
	width: 90%;
	padding: 5px 10px 10px 2px;
	border-width: 0 0 1px 0;
	font: normal normal medium 16px/40px 'Roboto-Regular';
	letter-spacing: 0px;
}
textarea {
	width: 90%;
	padding: 5px 10px 10px 2px;
	border-width: 0 0 1px 0;
	font: normal normal medium 16px/40px 'Roboto-Regular';
	letter-spacing: 0px;
	&::placeholder {
		color: #866D4B;
	}
}
.btn-optional {
	border-color: #222222;
	color: #222222;
	opacity: 0.8;
	&:hover {
		background-color: transparent;
		border-color: #222222;
		color: #222222;
	}
	&:active {
		background-color: transparent;
		color: #222222;
	}
}
.btn-inverse {
	color: #FFFFFF;
	border-color: #FFFFFF;
	opacity: 1;
	&:hover {
		font: normal normal bold 14px/17px 'Cormorant_Garamond-Regular';
	}
	&:acitve {
		border-width: 2px;
		opacity: 1;
	}
}
.bg-grey {
	background-color: #dbdbdb;
}
.color-light-grey {
	color: #b9b9b9;
}
@media (min-width:1281px) { 
  body{
    // font-size: 20px !important;
  } 
  .grid-container {
    max-width: 1140px;
  }
}

@media (min-width: 1200px) {
  body{
    // font-size: 20px !important;
  }
	.grid-container {
		max-width: 1140px;
	}
}
