// ICOMOON
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../resources/fonts/icomoon" !default;

$fh-icon-call: "\e900";
$fh-icon-check-cirlce: "\e901";
$fh-icon-close: "\e902";
$fh-icon-down-arrow: "\e903";
$fh-icon-facebook: "\e904";
$fh-icon-filter: "\e905";
$fh-icon-grid: "\e906";
$fh-icon-information: "\e907";
$fh-icon-instagram: "\e908";
$fh-icon-invisible: "\e909";
$fh-icon-left-arrow: "\e90a";
$fh-icon-line-arrow-left: "\e90b";
$fh-icon-line-arrow-right: "\e90c";
$fh-icon-linkedin: "\e90d";
$fh-icon-list: "\e90e";
$fh-icon-location: "\e90f";
$fh-icon-mail: "\e910";
$fh-icon-minus: "\e911";
$fh-icon-plus: "\e912";
$fh-icon-right-arrow: "\e913";
$fh-icon-search: "\e914";
$fh-icon-tick: "\e915";
$fh-icon-twitter: "\e916";
$fh-icon-twitter-outline: "\e917";
$fh-icon-up-arrow: "\e918";
$fh-icon-users-group: "\e919";
$fh-icon-visibility: "\e91a";
$fh-icon-youtube: "\e91b";
$fh-icon-wechat: "\e91c";
$fh-icon-calendar: "\e91d";