<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Carousel Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dist/OwlCarousel2/dist/assets/owl.carousel.min.css">    
    <link rel="stylesheet" href="../../site/dist/OwlCarousel2/dist/assets/owl.theme.default.min.css">    
    <link rel="stylesheet" href="./style.css">  
    <link rel="stylesheet" href="../../site/css/_global.css">
</head>
<body>
    <section class="hero-image-carousel text-bottom-left"> 
      <!-- text-top-left, text-top-center, text-top-right, text-center-left, text-center-center,
        text-center-right, text-bottom-left, text-bottom-center, text-bottom-right,   -->
        <div class="hero-image-carousel__image-container">
            <div class="owl-carousel owl-theme">
              <div> <img src="../../resources/images/banner/slider1.png" alt=""> </div>
              <div> <img src="../../resources/images/banner/slider2.png" alt=""> </div>
              <div> <img src="../../resources/images/banner/slider3.png" alt=""> </div>
            </div>            
            <h1>A warm welcome home.</h1>
        </div>
    </section>   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../site/dist/OwlCarousel2/dist/owl.carousel.min.js"></script>
<script>
  $(document).ready(function(){
    $('.hero-image-carousel__image-container .owl-carousel').owlCarousel({
      items:1,
      loop:true,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:true,
      autoHeight:true,
      nav:false,
    });
  });
</script>
</body>
</html>