<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frasers Hospitality</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dependancies/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../site/dependancies/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
  </head>
  <body>
    
    <!-- global header starts -->
    <section class="global-header template-container">
      <div class="global-header__container">
        <div class="global-header__container__icons">
          <a href="#"><p>en <i class="fa fa-angle-down"></i></p></a>
          <a href="#"><img src="../../resources/images/gheader/sgd.png" alt="SGD"></a>
          <a href="#"><p>  sgd <i class="fa fa-angle-down"></i></p></a> 
          <a href="#"><p><i class="fa fa-phone"></i></p></a>
          <a href="#"><p><i class="fa fa-envelope"></i></p></a>
          <a href="#">my reservations</a>
        </div>
        <div class="global-header__container__login">
          <a href="#"> member sign up</a> | <a href="#">sign in </a>
        </div>
      </div>
    </section> 
    <!-- global header ends -->

    <!-- primary nav starts -->
    <nav class="primary-nav">
      <div class="template-container no-padding_top no-padding_bottom">
        <div class="primary-nav__logo_container">
          <img src="../../resources/images/brand_logo/fraser_hospitality_logo.png" />
        </div>
        <div class="primary-nav__list_container">
          <ul>
            <li><a href="">locations</a></li>
            <li><a href="">offers</a></li>
            <li><a href="">extended stay</a></li>
            <li><a href="">business travel</a></li>
            <li><a href="">our brands</a></li>
          </ul>
        </div>
        <div class="primary-nav__hamburger_container">
          <button class="btn no-padding full-width">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </nav>
    <!-- primary nav ends -->

    <!-- hero carousel starts -->
    <section class="hero-image-carousel text-bottom-left"> 
      <!-- text-top-left, text-top-center, text-top-right, text-center-left, text-center-center,
        text-center-right, text-bottom-left, text-bottom-center, text-bottom-right,   -->
      <div class="hero-image-carousel__image-container">
        <div class="owl-carousel owl-theme">
          <div> <img src="../../resources/images/banner/FH_Banner1.png" alt=""> </div>
          <!-- <div> <img src="../../resources/images/banner/slider2.png" alt=""> </div>
          <div> <img src="../../resources/images/banner/slider3.png" alt=""> </div> -->
        </div>            
        <h1>A warm welcome home.</h1>
      </div>
    </section>   
    <!-- hero carousel ends -->

    <!-- breadcrumbs starts -->
    <div class="grid-container">
      <div class="breadcrumb mt-15 mb-15">
        <nav class="cmp-breadcrumb">
          <ol class="cmp-breadcrumb__list">
            <li class="cmp-breadcrumb__item">
              <a href="#" class="cmp-breadcrumb__item-link">
                <span>Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
            <li class="cmp-breadcrumb__item">
              <a href="#" class="cmp-breadcrumb__item-link">
                <span>Our Brands</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
            <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active">
              <span>Frasers Residence</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- breadcrumbs ends -->

    <!-- hashtag alert starts -->
    <div class="hashtag-alert-fixed"><a href="#">#Frasercares - covid - 19</a></div>
  <!-- hashtag alert ends -->

    <!-- chat icon starts -->
    <div  class="chat-icon"><img src="../../resources/images/banner/chat.png" alt="chat"></div>
    <!-- chat icon ends -->

    <!-- column starts -->
    <section class="column-control column-width__fifty">
      <div class="grid-container">
        <div class="column-control__image mb-30">
          <img src="../../resources/images/column-control/Group 3833.svg" />
          <img src="../../resources/images/column-control/Group 3833.svg" />
          <img src="../../resources/images/column-control/Group 3833.svg" />
        </div>
        <div class="column-control__text_title mb-30">
          <h4>worlds leading serviced apratments and hotel residences.</h4>
          <h4>discover <span class="yours_style">yours</span> now</h4>
        </div>
        <div class="column-control__text_desc mt-30">
          <p><span class="color_gold">#FrasersCares</span>: Globally verified levels of hygiene ensure your safety and well-being.</p>
        </div>
      </div>
    </section>
    <!-- column ends -->

    <!-- Fraser World starts -->
    <section class="fraser-world bg-grey padding-top-50 padding-bottom-50">
      <div class="grid-container">
        <div class="grid-row">
          <div class="column fraser-world__image_container" style="background-image: url('../../resources/images/fraser-world/rectangle-1955@3x.png');"></div>
          <div class="column fraser-world__text_container padding-30">
            <div class="column fraser-world__brands_showcase">
              <img src="../../resources/images/fraser-world/Group 2900.png" alt="" class="fraser-world__brands_fraser_logo">
              <img src="../../resources/images/fraser-world/Group 2905.png" alt="" class="fraser-world__brands_fraser_logo">
            </div>
            <div class="column">  
              <h4 class="fraser-world__title_text no-mt">A World of BENEFITS AWAITS <span>you</span></h4>
            </div>
            <div class="column fraser-world__iternary mt-30 mb-15">
              <span class="mb-30"><i class=""></i> Free Stays</span>
              <span class="mb-30"><i class=""></i> E-shopping vouchers</span>
              <span class="mb-30"><i class=""></i> Late check-out</span>
              <span class="mb-30"><a class="color-light-grey" href="#">And more...</a></span>
            </div>
            <div class="column full-width">
              <a href="#" class="btn btn-inverse">join now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Fraser World ends -->

    <!-- global footprint starts -->
    <section class="global-footprint">
      <div class="global-footprint-header-container">
          <div class="global-footprint-header">
            <div class="grid-container">
              <div class="column global-footprint-header">
                <p>OUR GLOBAL FOOTPRINT</p>
                <p class="global-footprint-veiwmore">VIEW ALL LOCATIONS</p>
              </div>
            </div>
          </div>
      </div>
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="../../resources/images/global-footprint/dubai.png" alt="">
          <div class="global-footprint__owl-carousel_item_cityname">
            <p class="country-city">Dubai, UAE</p>
            <p class="properties-no">2 Properties</p>
            <div class="properties-list">
              <p>Lorem ipsum dolor sit amet.</p>
              <p>Eveniet voluptas alias perferendis.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../resources/images/global-footprint/london.png" alt="">
          <div class="global-footprint__owl-carousel_item_cityname">
            <p class="country-city">London, UK</p>
            <p class="properties-no">2 Properties</p>
            <div class="properties-list">
              <p>Lorem ipsum dolor sit amet.</p>
              <p>Eveniet voluptas alias perferendis.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../resources/images/global-footprint/mount.png" alt="">
          <div class="global-footprint__owl-carousel_item_cityname">
            <p class="country-city">Mountain View</p>
            <p class="properties-no">2 Properties</p>
            <div class="properties-list">
              <p>Lorem ipsum dolor sit amet.</p>
              <p>Eveniet voluptas alias perferendis.</p>                        
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../resources/images/global-footprint/paris.png" alt="">
          <div class="global-footprint__owl-carousel_item_cityname">
            <p class="country-city">Paris, France</p>
            <p class="properties-no">2 Properties</p>
            <div class="properties-list">
              <p>Lorem ipsum dolor sit amet.</p>
              <p>Eveniet voluptas alias perferendis.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../resources/images/global-footprint/shanghai.png" alt="">
          <div class="global-footprint__owl-carousel_item_cityname">
            <p class="country-city">Shanghai, Chaina</p>
            <p class="properties-no">2 Properties</p>
            <div class="properties-list">
              <p>Lorem ipsum dolor sit amet.</p>
              <p>Eveniet voluptas alias perferendis.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../resources/images/global-footprint/sydney.png" alt="">
          <div class="global-footprint__owl-carousel_item_cityname">
            <p class="country-city">Sydney, Australia</p>
            <p class="properties-no">3 Properties</p>
            <div class="properties-list">
              <p> Lorem ipsum dolor s</p>
              <p> Eveniet voluptas alias perf</p>
              <p> Lorem ipsum dolor sit amet cons</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- global footprint ends -->

    <!-- text over image starts -->
    <div class="section-text-over-image_align_left ">
      <section class="section-text-over-image">
        <img class="section-text-over-image__background_image" src="../../resources/images/textOverImage/BusinessTravel.png" alt="" />
        <div class="text-over-image__title_wrapper">
          <h3 class="text-over-image__title">business travel</h3>
          <div class="text-over-image__desc">
            <p>
            Join our corporate programme and take advantage of the great benefits at more than 120 
            serviced apratments and hotel residence across Asia, Europe, Middle East and Africa
            </p>
          </div>
          <a class="btn btn-optional section-text-over-image__action_link" href="#.">learn more</a>
        </div>
      </section>
    </div>
    <!-- text over image ends -->

    <!-- footer starts  -->
    <section class="footer-container">
      <div class="footer-container__properties-block">
        <div class="footer-container__properties-block__properties">
          <a><img src="../../resources/images/brand_logo/FraserHospitality.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/FraserSuites.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/FraserResidence.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/FraserPlace.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/Capri.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/Modena.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/Malmaison.svg" alt=""></a>
          <a><img src="../../resources/images/brand_logo/HotelduVin.svg" alt=""></a>
        </div>
        <div class="footer-container__properties-block__menus">
          <div class="footer-container__properties-block__menus__fmenus">                    
            <a href="#">News</a>
            <a href="#">Sustainability</a>
            <a href="#">Investor Relations</a>
            <a href="#">Contact Us</a>
            <a href="#">Best Rate Guarantee</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Site Map</a>
          </div>
          <div class="footer-container__properties-block__menus__smicons">
            <a href="#"><i class="fa fa-wechat"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>                
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-container__copyright-block">
        <a href="#"><img src="../../resources/images/footer/frasers-property-logo.png" alt=""></a>
        <p>&copy; 2021 Frasers Hospitality Pte Ltd. A member of Frasers Property Group. </p>
      </div>
    </section>
    <!-- footer ends -->

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../site/dependancies/OwlCarousel2/dist/owl.carousel.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.hero-image-carousel__image-container .owl-carousel').owlCarousel({
        items:1,
        loop:true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        autoHeight:true,
        nav:false,
      });
    });
    
    $(document).ready(function(){
      $('.global-footprint .owl-carousel').owlCarousel({
        autoplay: true,
        autoplaySpeed: 2500,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        loop:true,
        margin:25,
        nav:false,
        dots:false,
        items: 5,
      });
    });        
  </script>
</html>