<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="../../site/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
  </head>
  <body>

    <section class="property-page">
      <div class="property-page_section">
        <div class="property-page_section-banner_section">
          <div class="hero-image-carousel__image-container">
            <div class="owl-carousel owl-theme">
              <div> <img src="../../resources/images/banner/slider1.png" alt=""> </div>
            </div>            
            <h1>A warm welcome home.</h1>
          </div>
        </div>
        <div class="property-page_section-search_container">
          <div class="property-page_section-search_container-input_container">
            <input type="text" class="property-page_section-search_container-input_container-input" placeholder="Where are you planning to travel?" />
          </div>
          <button class="btn btn-gold">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="property-page_section-page_title_section">
          <h3 class="property-page_section-page_title_section-title">
            a world of hotels and apartmentstp pick from.
            discover <span class="yours">yours</span> now
          </h3>
        </div>
      </div>
    </section>
    
  </body>
  <script type="text/javascript"></script>
</html>