<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
    <section class="global-header template-container">
      <div class="global-header__container">
        <div class="global-header__container__icons">
          <a href="#"><p>EN <i class="fa fa-angle-down"></i></p></a>
          <a href="#"><img src="../../resources/images/gheader/sgd.png" alt="SGD"></a>
          <a href="#"><p>  SGD <i class="fa fa-angle-down"></i></p></a> 
          <a href="#"><p><i class="fa fa-phone"></i></p></a>
          <a href="#"><p><i class="fa fa-envelope"></i></p></a>
          <a href="#">MY RESERVATIONS</a>
        </div>
        <div class="global-header__container__login">
          <a href="#"> MEMBER SIGN UP | SIGN IN </a>
        </div>
      </div>
    </section>    
</body>
</html>