.global-footprint {    
  background-color: #dbdbdb;
  padding: 50px 0;
  font-family: 'Cormorant_Garamond-Medium';
  .global-footprint-header-container {
      
      .global-footprint-header {
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          h2 {  
            font-size: 36px;
            font-weight: 500;
            font-family: "Cormorant_Garamond-Medium";
            color: #222222;
          }
          p.global-footprint-veiwmore {
            font-family: "Cormorant_Garamond-SemiBold";
            font-size: 16px;
            font-weight: 400;
            color: #866d4b;
            position: absolute;
            right:0px;
          }
      }
  }
  .owl-carousel {        
      .owl-stage-outer {
          padding: 50px;
      }
      .item {
          position: relative;
          transition: all .9s ease;

          &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background-color: #fff;
              background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)); 
              //opacity: 0.2;
              //z-index: 3;            
          }

          &:hover {
              transform: scale(1.03);
              box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.8);

              .global-footprint__owl-carousel_item_cityname {
                  .properties-no {
                      display: none;
                  }
                  .properties-list {
                      display: block;
                  }
              }
          }
          
          .global-footprint__owl-carousel_item_cityname {
              position: absolute;
              padding: 10px 20px;
              width: 92%;
              left: 0;
              bottom: 20px;
              color: #FFF;
              p {
                  text-align: center;
                  margin: 10px;
                  padding: 0 20px;                  
              }
              .country-city {
                  font-size: 18px;
                  font-weight: 400;
                  font-family: 'Cormorant_Garamond-Medium';
              }
              .properties-list {                    
                  font-size: 12px;
                  display: none;
                  text-decoration: underline;
                  text-underline-offset: 6px;
                  line-height: 1.6;
                  p {
                      margin: 10px 0;
                      font-family: 'Roboto-Regular';
                      > a{
                        color: #FFF;
                      }
                  }
              }
              .properties-no {
                    font-family: 'Roboto-Regular';
                    font-size: 12px;
              }
          }
      }
  }
}