<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Footprint</title>
    <link rel="stylesheet" href="../../site/dependancies/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../site/dependancies/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
    <section class="global-footprint">
        <div class="global-footprint-header-container">
            <div class="global-footprint-header">
                <p>OUR GLOBAL FOOTPRINT</p>
                <p class="global-footprint-veiwmore">VIEW ALL LOCATIONS</p>
            </div>
            <!-- <div class="global-footprint-veiwmore">
                <p>VIEW ALL LOCATIONS</p>
            </div> -->
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="../../resources/images/global-footprint/dubai.png" alt="">
                <div class="global-footprint__owl-carousel_item_cityname">
                    <p class="country-city">Dubai, UAE</p>
                    <p class="properties-no">2 Properties</p>
                    <div class="properties-list">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Eveniet voluptas alias perferendis.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../resources/images/global-footprint/london.png" alt="">
                <div class="global-footprint__owl-carousel_item_cityname">
                    <p class="country-city">London, UK</p>
                    <p class="properties-no">2 Properties</p>
                    <div class="properties-list">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Eveniet voluptas alias perferendis.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../resources/images/global-footprint/mount.png" alt="">
                <div class="global-footprint__owl-carousel_item_cityname">
                    <p class="country-city">Mountain View</p>
                    <p class="properties-no">2 Properties</p>
                    <div class="properties-list">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Eveniet voluptas alias perferendis.</p>                        
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../resources/images/global-footprint/paris.png" alt="">
                <div class="global-footprint__owl-carousel_item_cityname">
                    <p class="country-city">Paris, France</p>
                    <p class="properties-no">2 Properties</p>
                    <div class="properties-list">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Eveniet voluptas alias perferendis.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../resources/images/global-footprint/shanghai.png" alt="">
                <div class="global-footprint__owl-carousel_item_cityname">
                    <p class="country-city">Shanghai, Chaina</p>
                    <p class="properties-no">2 Properties</p>
                    <div class="properties-list">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Eveniet voluptas alias perferendis.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../resources/images/global-footprint/sydney.png" alt="">
                <div class="global-footprint__owl-carousel_item_cityname">
                    <p class="country-city">Sydney, Australia</p>
                    <p class="properties-no">3 Properties</p>
                    <div class="properties-list">
                        <p> Lorem ipsum dolor s</p>
                        <p> Eveniet voluptas alias perf</p>
                        <p> Lorem ipsum dolor sit amet cons</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../site/dependancies/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.global-footprint .owl-carousel').owlCarousel({
                autoplay:false,
                autoplaySpeed: 4000,
                autoplayTimeout:4000,
                autoplayHoverPause:true,
                loop:true,
                margin:25,
                nav:false,
                dots:false,
                items: 5,
            });
        });        
    </script>
</body>
</html>