<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>

    <!-- image-text_right image-text_center -->
    <div class="image image-text_left">
      <div 
        data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1384627264/component/image.coreimg{.width}.jpeg" 
        data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg" 
        data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc" 
        data-title="Lava flowing into the ocean" 
        id="image-1a5cc576ae" 
        data-cmp-data-layer="{&quot;image-1a5cc576ae&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Lava flowing into the ocean&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}" 
        class="cmp-image" 
        itemscope="" 
        itemtype="http://schema.org/ImageObject"
      >
        <img src="../../resources/images/fraser-world/rectangle-1955@3x.png" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Lava flowing into the ocean">
        <span class="cmp-image__title" itemprop="caption">Lava flowing into the ocean</span>
      </div>
    </div>
    
</body>
</html>