<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
    <div class="imageadder" >
         <img src="../../resources/images/fraser-world/rectangle-1955@3x.png" class="im">
         <p class="centers">This is Frasers UI Componenet</p>
    </div>
</body>
</html>