<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../site/dist/custom.css">
    <title>Document</title>
</head>
<body>
    <div class="single-rows">
        <!-- <img src="../../resources/images/brand_logo/fraser_hospitality_logo.png" class="single"> -->
        <img src="../../resources/images/footer_new/FraserSuites.png" alt="" class="single">
    </div>
</body>
</html>