.chat-icon {
  position: fixed;
  right: 5%;
  top: 70%;
  z-index: 2;
  background-color: #FFF;
  padding: 15px 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}
  
.chat-icon img {
  width: 30px;
  height: 100%;
  object-fit: contain;
}