.section-text-over-image {
	position: relative;
	.section-text-over-image__background_image {
		width: 100%;
		object-fit: cover;
		align-self: center;
		background-position: bottom center;
	}
	.text-over-image__title_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 42%;
		background-color: #ffffffcf;
		padding: 15px;
		.text-over-image__title {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 36px;
			font-family: 'Cormorant_Garamond-Medium';
			font-style: normal;
			line-height: 60px;
			letter-spacing: normal;
			text-align: center;
			color: #222222;
		}
		.text-over-image__desc {
			p {
				font-family: 'Roboto-Regular';
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 25px;
				letter-spacing: normal;
				text-align: center;
				color: #5f5f5f;
				
			}
		}
		.section-text-over-image__action_link {
			font-family: 'Cormorant_Garamond-Regular';
			margin-top: 20px;
		}
	}
}
.section-text-over-image_align_left {
	.section-text-over-image {
		.text-over-image__title_wrapper {
			left: 0;
		}
	}
}
.section-text-over-image_align_right {
	.section-text-over-image {
		.text-over-image__title_wrapper {
			right: 0;
		}
	}
}
