<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text over Image</title>
  <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>

  <div class="section-text-over-image_align_right">
    <section class="section-text-over-image">
      <img class="section-text-over-image__background_image" src="../../resources/images/textOverImage/corporate-office.png" alt="" />
      <div class="text-over-image__title_wrapper">
        <h3 class="text-over-image__title">business travel</h3>
        <div class="text-over-image__desc">
          <p>
          Join our corporate programme and take advantage of the great benefits at more than 120 
          serviced apratments and hotel residence across Asia, Europe, Middle East and Africa
          </p>
        </div>
        <a class="btn btn-optional section-text-over-image__action_link" href="#.">learn more</a>
      </div>
    </section>
  </div>

</body>
</html>