<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frasers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body style="background-color:black">

 <!-- primary nav starts -->
 <nav class="primary-nav" id="primary-nav">
  <div class="template-container no-padding_top no-padding_bottom">
    <div class="primary-nav__logo_container">
      <img src="../../resources/images/brand_logo/fraser_hospitality_logo.png" loading="lazy" />
    </div>
    <div class="primary-nav__list_container">
      <ul>
        <li><a href="">locations</a></li>
        <li><a href="">offers</a></li>
        <li><a href="">extended stay</a></li>
        <li><a href="">business travel</a></li>
        <li><a href="">our brands</a></li>
      </ul>
    </div>
    <div class="primary-nav__hamburger_container">
      <button class="btn p-0 full-width">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</nav>
<!-- primary nav ends -->
  
</body>
</html>