<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="../../site/dist/custom.css">
      <link rel="stylesheet" href="../../site/js/aos.css" />
   </head>
   <body>
      <section class="article_highlight p-30">
       <div class="grid-container">
            <div class="article_highlight__heading--container">
               <div class="article_highlight__heading--container_title-container ml6">
                 <span class="text-wrapper">
                   <p class="letters">Inspire Your Wanderlust</p>
                </span>
                 <p class="float-right">Explore More Stories</p>
               </div>
               <div class="article_highlight__heading--container_description ml61" >
                 <span class="text-wrapper1">
                    <p class="letters1">More than just your usual travel guide, Fraser Moments is thoughtfully curated with our guests, 
                       staff and interesting personalities from all over the world to bring you unique and local travel experiences.
                    </p>
                 </span>
                 
              </div>
            </div>
         </div>
         <div class="grid-container">
            <div class="article_highlight_content mt-15">
             <div class="article_highlight_content--card" data-aos="fade-up"  data-aos-delay="500">
               <div class="article_highlight_content--card--image-container" >
                  <img class="article_highlight_content--card--image-container-img" src="../../resources/images/article_highlights/Train Journey_Cover.png" loading="lazy" alt="">
               </div>
               <ul class="article_highlight_content--card__tag-container" >
                  <li class="article_highlight_content--card__tag-container--list">Experiences</li>
                  <li class="article_highlight_content--card__tag-container--list">Guide</li>
                  <li class="article_highlight_content--card__tag-container--list">Culture</li>
               </ul>
               <div class="article_highlight_content--card_header"  >
                  <p>Rail Journeys to Remember</p>
               </div>
               <div class="article_highlight_content--card_text" >
                  <p>Travelling by train when on holiday can be fast and furious or languid and leisurely.</p>
               </div>
               <div class="article_highlight_content--card_more" >
                  <a href="#">Read More</a>
               </div>
            </div>
               <div class="article_highlight_content--card" data-aos="fade-up"  data-aos-delay="1200" >
                  <div class="article_highlight_content--card--image-container">
                     <img class="article_highlight_content--card--image-container-img" src="../../resources/images/article_highlights/Omoide Yokocho - kenn-reynon-EOTRfWbIhiE-unsplash.png" loading="lazy" alt="">
                  </div>
                  <ul class="article_highlight_content--card__tag-container" >
                     <li class="article_highlight_content--card__tag-container--list">Experiences</li>
                     <li class="article_highlight_content--card__tag-container--list">Guide</li>
                     <li class="article_highlight_content--card__tag-container--list">Culture</li>
                  </ul>
                  <div class="article_highlight_content--card_header" >
                     <p>Rediscovering Your City: Best of Tokyo</p>
                  </div>
                  <div class="article_highlight_content--card_text" >
                     <p>Famed for its culture, cuisine, fashion and entertainment, the vibrant capital of Japan is without the most exciting cities.</p>
                  </div>
                  <div class="article_highlight_content--card_more" >
                     <a href="#">Read More</a>
                  </div>
               </div>
               <div class="article_highlight_content--card"  data-aos="fade-up"  data-aos-delay="1900">
                  <div class="article_highlight_content--card--image-container" >
                     <img class="article_highlight_content--card--image-container-img" src="../../resources/images//article_highlights/oriento-MCN7xTTeAkw-unsplash.png" loading="lazy" alt="">
                  </div>
                  <ul class="article_highlight_content--card__tag-container" >
                     <li class="article_highlight_content--card__tag-container--list">Experiences</li>
                     <li class="article_highlight_content--card__tag-container--list">Guide</li>
                     <li class="article_highlight_content--card__tag-container--list">Culture</li>
                  </ul>
                  <div class="article_highlight_content--card_header"   >
                     <p>Tales of Tea</p>
                  </div>
                  <div class="article_highlight_content--card_text"   >
                     <p>Almost every culture has its own unique history with the world’s most widely consumed beverage (aside from water).</p>
                  </div>
                  <div class="article_highlight_content--card_more" >
                     <a href="#">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <script src="../../site/js/aos.js"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      
      <script>
         AOS.init({
         duration: 1200,
         });
    
         var scrollpos = window.scrollY;
    window.addEventListener('scroll', function(){ 
        scrollpos = window.scrollY;
       
        if(scrollpos>2800 && scrollpos<2900)
        {
        
        var textWrapper = document.querySelector('.ml6 .letters');
       var textWrapper1=document.querySelector('.ml61 .letters1');
        document.querySelector(".ml6").style.opacity="1";
       document.querySelector(".ml61").style.opacity="1";
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
    textWrapper1.innerHTML = textWrapper1.textContent.replace(/\S/g, "<span class='letter1'>$&</span>");
    anime.timeline()
      .add({
        targets: '.ml6 .letter',
        translateY: ["1.1em", 0],
        translateZ: 0,
        duration: 1000,
        delay: (el, i) => 10 *i
      }).add({
        targets: '.ml6',
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
         });
       anime.timeline()
      .add({
        targets: '.ml61 .letter1',
        translateY: ["1.1em", 0],
        translateZ: 0,
        duration: 1000,
        delay: (el, i) => 4*i
      }).add({
        targets: '.ml61',
        duration: 700,
        easing: "easeOutExpo",
        delay: 500,
         });  
          }
          else{
          
        }
    
    }
    )
        </script>
   </body>
</html>