* {
	padding: 0;
	margin: 0;
}

.section-text-over-image {
	position: relative;
}

.section-text-over-image .section-text-over-image__background_image {
	max-width: 100%;
	/* height: 600px; */
  object-fit: cover;
  align-self: center;
}

.section-text-over-image .text-over-image__title_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40%;
	background-color: #ffffffad;
	color: #6d6a6a;
	padding: 15px;
}

.section-text-over-image .text-over-image__title_wrapper.align_left{
  left: 0;
}

.section-text-over-image .text-over-image__title_wrapper.align_right{
  right: 0;
}

.section-text-over-image .text-over-image__title_wrapper .text-over-image__title {
	text-transform: uppercase;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.95;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
}

.section-text-over-image .text-over-image__title_wrapper .text-over-image__desc {
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: center;
	color: #5f5f5f;
}
.section-text-over-image .text-over-image__title_wrapper .section-text-over-image__action_link{
  display: inline-block;
  background-color: transparent;
  border: 1px solid #5f5f5f;
  color: #5f5f5f;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 3px;
}