.banner-slider-container {
  .banner-slider-container__header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    h2{
      font-family: 'Cormorant_Garamond-Medium';
      font-weight: 500;
      text-align: center;
      font-size: 32px;
    }
    p {
      font-family: 'Cormorant_Garamond-Regular';
      font-size: 16px;
      text-align: center;
      margin: 0 25%;
    }

  }

  .swiper-container {
    height: 580px;
    padding: 10px 0 10px 0;
    .swiper-wrapper {
        align-items: center;
        .swiper-slide {
            //width: 775px;
            width: 600px;
            height: 440px;
            img {
                width: 600px;
                margin-bottom: -5px;
            } 
            .banner-slider-info{
                background-color: #dbdbdb;
                padding: 20px;
                display: none;
            }
            .banner-slider-info h3, p {
                text-align: center;
                font-family: 'Cormorant_Garamond-Regular';
                ///align-items: center;
            }       
            .banner-slider-info h3 {
                font-weight: 500;
                margin-bottom: 10px;
            }  
            .banner-slider-info p {
                font-size: 12px;
                padding: 0 40px;
            }   
        }
        .swiper-slide-active {
            transform: scale(1.3);
            transition: .4s;
            
            .banner-slider-info {
                display: block;
            }
        }
    }

    .swiper-pagination {

        .swiper-pagination-bullet {
            width: 100px;
            border-radius: 0;
        }

    }
      
  }
}

.swiper-progress-bar{
	width: 400px;
  height: 3px;
	position: relative;
	margin: 20px auto;
	background: #eeeeee;
	.progress{
		height: inherit;
		left: 0;
		top: 0;
		position: absolute;
		background: #866D4B;
		z-index: 1;
	}
	.progress-sections{
		left: 0;
		top: 0;
		position: absolute;
		height: inherit;
		width: inherit;
		z-index: 2;
		display: flex;
		flex-direction: row;
		span{
			flex: 1;
			height: inherit;
			border-right: 15px solid #fff;
			&:last-child{
				border-right-width: 0;
			}
		}
	}
}