<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop Image Slider</title>
    <link rel="stylesheet" href="../../site/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
  <section class="banner-slider-container">
    <div class="banner-slider-container__header">
      <div></div>
      <div>
        <h2>FRASER <span>Difference</span></h2>
        <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque tempora enim, nesciunt fugiat eos earum!</p>
      </div>
      <div></div>
    </div>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../../resources/images/image-slider/slider1.png" alt="slider1">
          <div class="banner-slider-info">
            <h3>Award Winning Services</h3>
            <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../resources/images/image-slider/slider2.png" alt="slider2">
          <div class="banner-slider-info">
            <h3>Award Winning Services</h3>
            <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../resources/images/image-slider/slider3.png" alt="slider2">
          <div class="banner-slider-info">
            <h3>Award Winning Services</h3>
            <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../resources/images/image-slider/slider2.png" alt="slider2">
          <div class="banner-slider-info">
            <h3>Award Winning Services</h3>
            <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-progress-bar">
      <div class="progress"></div>
      <div class="progress-sections"></div>
    </div>
  </section>
  <script src="../../site/js/jquery.min.js"></script>
  <script src="../../site/js/swiper-bundle.min.js"></script>    
  <script>
    $(document).ready(function($){
      let autoPlayDelay = 5000;
      let options = {
        init: true,
        // Optional parameters
        slidesPerView: 'auto',
        spaceBetween: 110,
        loop: true,
        centeredSlides: true,
        autoplay: {
          delay: autoPlayDelay,
          // autoplayDisableOnInteraction : false,
          // disableOnInteraction: false
        },
        disableOnInteraction: false,
        // If we need pagination
        /*pagination: {
          el: '.swiper-pagination',
          type: 'progressbar'
        },*/

        // Navigation arrows
        // navigation: {
        //   nextEl: '.swiper-button-next',
        //   prevEl: '.swiper-button-prev',
        // },
      };
      
      let mySwiper = new Swiper ('.swiper-container', options);
      let slidersCount = mySwiper.params.loop ? mySwiper.slides.length - 2 : mySwiper.slides.length;
      let widthParts = 100 / slidersCount;
      $('.swiper-counter .total').html(slidersCount);
      for(let i=0; i<slidersCount; i++){
        $('.swiper-progress-bar .progress-sections').append('<span></span>');
      }
      function initProgressBar(){
        let calcProgress = (slidersCount-1) * (autoPlayDelay + mySwiper.params.speed);
        calcProgress += autoPlayDelay;
        $('.swiper-progress-bar .progress').animate({
          width: '100%'
        }, calcProgress, 'linear');
      }

      initProgressBar();
      mySwiper.on('slideChange', function () {
        let progress = $('.swiper-progress-bar .progress');
        $('.swiper-counter .current').html(this.activeIndex + 1);
        if( ( this.progress == -0 || (this.progress == 1 && this.params.loop) ) && !progress.parent().is('.stopped')){
          progress.css('width', '0');
          if(this.activeIndex == 0){
            initProgressBar();
          }
        }

        if(progress.parent().is('.stopped')){		   
          progress.animate({
            'width': Math.round(widthParts * (this.activeIndex + 1)) + '%'
          }, this.params.speed, 'linear');
        }
      });

      mySwiper.on('touchMove', function () {
        $('.swiper-progress-bar .progress').stop().parent().addClass('stopped');
      });

      //   var swiper = new Swiper(".mySwiper", {
      //       slidesPerView: 'auto',
      //       spaceBetween: 110,
      //       centeredSlides: true,
      //       grabCursor: true,
      //       loop: true,
      //       // autoplay: {
      //       //   delay: 2500,
      //       //   disableOnInteraction: false,
      //       // },
      //       pagination: {
      //           el: ".swiper-pagination",
      //           clickable: true,
      //       },
      //   });
    });
  </script>
</body>
</html>