.column-control{
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &.two-column-fifty{
    &_section{
      flex-direction: row;
    }
  }
}

.you-flat{
  display: inline-block;
  font-size: 90px;
  font-weight: normal;
  font-family: "Sebastian-Boby";
  text-transform: lowercase;
  position: relative;
  top: 18px;
  left: 10px;
  line-height: 33px;
  margin-right: 10px;
}

.column-control .column-control__image img{
  margin-right: 15px;
}
.column-control{
  &__title-container{
    &-text-title{
      font-family: 'Cormorant_Garamond-Regular';
      text-transform: capitalize;
      font-size: 28px;
    }
  }
}

.column-control__text_desc{
  font-family: 'Roboto-Medium';
   color: #5f5f5f;
   word-spacing: 3px;
   text-align:none;
   padding: 0px;
   font-size: 1.1rem;      
}
.color_gold{
  color: #866d4b;
  text-decoration: underline;  
  
}

.columns-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;

  .controlled-columns__left {
      background-color: #757575;
  }
  .controlled-columns__right {
      background-color: #D3EAFD;
  }
}

.columns-70-30 {
  display: grid;
  grid-template-columns: 70% 30%;

  .controlled-columns__left {
      background-color: #757575;
  }
  .controlled-columns__right {
      background-color: #D3EAFD;
  }
}

.columns-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;

  .controlled-columns__left {
      background-color: #757575;
  }
  .controlled-columns__right {
      background-color: #D3EAFD;
  }
}

.columns-three {
  display: grid;
  grid-template-columns: auto auto auto;

  .controlled-columns__one {
      background-color: #757575;
  }
  .controlled-columns__two {
      background-color: #D3EAFD;
  }
  .controlled-columns__three {
      background-color: #757575;
  }
}

.columns-five {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  .controlled-columns__one {
    background-color: #757575;
  }
  .controlled-columns__two {
    background-color: #D3EAFD;
  }
  .controlled-columns__three {
    background-color: #757575;
  }
  .controlled-columns__four {
    background-color: #D3EAFD;
  }
  .controlled-columns__five {
    background-color: #757575;        
  }
}