<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Column Control</title>
    <link rel="stylesheet" href="../../site/dist/custom.css">
  </head>
  <body>
    
    <section class="column-control">
      <div class="grid-container">
        <div class="column-control__image mb-30">
          <img src="../../resources/images/column-control/Group_3833.svg" />
          <img src="../../resources/images/column-control/Group_3833.svg" />
          <img src="../../resources/images/column-control/Group_3833.svg" />
        </div>
        <div class="column-control__text_title mb-30">
          <h4>worlds leading serviced apratments and hotel residences.</h4>
          <h4>discover <span class="sebastian-bobby1">yours</span> now</h4>
        </div>
        <div class="column-control__text_desc mt-30">
          <p><span class="color_gold">#FrasersCares</span>: Globally verified levels of hygiene ensure your safety and well-being.</p>
        </div>
      </div>

    </section>

    <!-- column control -->
    <h1>50-50</h1>
    <div class="controlled-columns columns-50-50">
      <div class="controlled-columns__left content-align-left">
        <p>&nbsp;dasd </p>
        <img src="../../resources/images/footer_new/FraserHospitality.png" />
      </div>
      <div class="controlled-columns__right content-align-right">
        <p>&nbsp;dasd </p>
        <img src="../../resources/images/footer_new/FraserHospitality.png" />
      </div>
    </div>

    <h1>70-30</h1>
    <div class="controlled-columns columns-70-30">
      <div class="controlled-columns__left content-align-center">
        <p>&nbsp; sasd</p>
        <img src="../../resources/images/footer_new/FraserHospitality.png" />
      </div>
      <div class="controlled-columns__right">
        <p>&nbsp;</p>
      </div>
    </div>

    <h1>30-70</h1>
    <div class="controlled-columns columns-30-70">
      <div class="controlled-columns__left">
        <p>&nbsp;</p>
      </div>
      <div class="controlled-columns__right">
        <p>&nbsp;</p>
      </div>
    </div>

    <h1>3-column</h1>
    <div class="controlled-columns columns-three">
      <div class="controlled-columns__one">
        <p>&nbsp;</p>
      </div>
      <div class="controlled-columns__two">
        <p>&nbsp;</p>   
      </div>
      <div class="controlled-columns__three">
        <p>&nbsp;</p>
      </div>
    </div>

    <h1>5-column</h1>
    <div class="controlled-columns columns-five">
      <div class="controlled-columns__one">
        <p>&nbsp;</p>
      </div>
      <div class="controlled-columns__two">
        <p>&nbsp;</p>
      </div>
      <div class="controlled-columns__three">
        <p>&nbsp;</p>
      </div>
      <div class="controlled-columns__four">
        <p>&nbsp;</p>
      </div>
      <div class="controlled-columns__five">
        <p>&nbsp;</p>
      </div>
    </div>

  </body>
</html>