.footer {
  @extend .p-relative;
  font-size: 16px;
  &_back-top-top{
    font-size: 12px;
    font-family: 'Roboto-Regular';
    text-transform: uppercase;
    color: #515151;
    @extend .p-absolute;
    top: -15%;
    right: 10%;
    background-color: transparent;
    padding: 0;
    .fa{
      position: relative;
      top: 2px;
      left: 5px;
      font-size: 20px;
    }
  }
  &__top {
    padding-top: 40px;
    padding-bottom: 35px;
    @include breakpoint(ipad-max) {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  }

  &__logos-section,
  &__nav-social-row {
    @extend .d-flex;
    @extend .align-items-center;
  }

  &__logos-section {
    margin-bottom: 30px;
    @include breakpoint(ipad-max) {
      flex-direction: column;
    }
    @include breakpoint(mobile-max) {
      margin-bottom: 10px;
    }

    &__left,
    &__right {
      a,
      img {
        @extend .d-block;
      }
      a{
        filter: brightness(0) invert(0);
       &:hover{
        filter: grayscale(0);
       }
      }
      
    }

    &__left {
      @include breakpoint(medium-desktop-min) {
        margin-right: 15px;
        padding-right: 25px;
        border-right: 1px solid #000;
      }
      @include breakpoint(ipad-max) {
        margin-bottom: 45px;
      }
    }

    &__right {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .flex-auto;
      @include breakpoint (ipad-max) {
        justify-content: center;
        flex-wrap: wrap;

        > li {
          margin-bottom: 30px;
        }
      }

      a {
        padding: 0 15px;
        @include breakpoint(mobile-max) {
          padding: 0 10px;
          max-width: 120px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  &__nav-social-row {
    @extend .justify-content-between;
    @include breakpoint(ipad-max) {
      flex-direction: column;
    }
  }

  &__navbar {
    @extend .flex-auto;
    @include breakpoint(medium-desktop-min) {
      margin-right: 10px;
    }
    @include breakpoint(ipad-max) {
      margin-bottom: 50px;
    }

    &__nav {
      margin-left: -5px;
      @extend .d-flex;
      margin-bottom: 0;
      @include breakpoint(ipad-max) {
        flex-wrap: wrap;
        justify-content: center;
      }

      > li {
        &:not(:last-child) {
          @include breakpoint(medium-desktop-min) {
            margin-right: 10px;
          }
          @include breakpoint(large-desktop-min) {
            margin-right: 30px;
          }
        }

        > a {
          font-size: 0.875rem;
          padding: 0 5px;
          @extend .d-block;
          font-family: 'Cormorant_Garamond-Regular';
          color: #222222;
          @include breakpoint(ipad-max) {
            padding: 8px 12px;
            font-size: 1rem;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 5px 0;
    background-color: #000000;
  }

  &__copyright {
    font-size: 0.75rem;
    @extend .d-flex;
    @extend .align-items-center;
    color: #fff;
    @include breakpoint(ipad-max) {
      font-size: 0.625rem;
    }

    &__logo {
      width: 98px;
      margin-right: 10px;
      @extend .d-block;
    }

    p {
      margin-bottom: 0;
    }
  }

  &--bg-style-1 {
    background-color: #dcdcdc;
  }
}

.social-share-list {
  @extend .d-flex;

  li {
    a {
      padding: 0 8px;
      font-size: 1.25rem;
      color: #000000;
      @extend .d-block;
      @extend .lh-1;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
      @include breakpoint(ipad-max) {
        padding: 0 12px;
      }
    }
  }
}