<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk Global Footer</title>
    <link rel="stylesheet" href="../../site/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
  
  <footer class="footer footer--bg-style-1">
    <button onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="footer_back-top-top">back to top <i class="fa fa-angle-up"></i></button>
    <div class="footer__top">
      <div class="grid-container">
        <div class="footer__logos-section">
          <div class="footer__logos-section__left">
            <a href="#">
              <img src="../../resources/images/footer_new/FraserHospitality.png" alt="Frasers Hospitality" loading="lazy">
            </a>
          </div>
          <ul class="footer__logos-section__right list-unstyled mb-0">
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/FraserSuites.png" alt="Frasers Suites" loading="lazy">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/FraserResidence.png" alt="Frasers Residence" loading="lazy">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/FraserPlace.png" alt="Frasers Place" loading="lazy">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/Capri.png" alt="Capri" loading="lazy">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/Modena.png" alt="Modena" loading="lazy">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/Malmaison.png" alt="Malmaison" loading="lazy">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../resources/images/footer_new/HotelduVin.png" alt="Hotel Du Vin Bistro" loading="lazy">
              </a>
            </li>
          </ul>
        </div> <!-- /.footer__logos-section -->
        <div class="footer__nav-social-row">
          <nav class="footer__navbar">
            <ul class="footer__navbar__nav list-unstyled">
              <li>
                <a href="#">
                  <span>News</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Sustainability</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Investor Relations</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Contact Us</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Best Rate Guarantee</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Privacy Policy</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Terms of Use</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Site Map</span>
                </a>
              </li>
            </ul>
          </nav> <!-- /.footer__navbar -->
          <ul class="social-share-list list-unstyled mb-0">
            <li>
              <a href="#">
                <i class="fa fa-weixin"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul> <!-- /.social-share-list -->
        </div> <!-- /.footer__nav-social-row -->
      </div> <!-- /.container -->
    </div> <!-- /.footer__top -->
    <div class="footer__bottom">
      <div class="grid-container">
        <div class="footer__copyright">
          <img src="../../resources/images/footer/frasers-property-logo.png" alt="Frasers Property" loading="lazy" class="footer__copyright__logo">
          <p>© 2021 Frasers Hospitality Pte Ltd. A member of Frasers Property Group.</p>
        </div>
      </div>
    </div> <!-- /.footer__bottom -->
  </footer>
    
</body>
</html>