<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk Global Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
  
  <section class="footer-container">
    <div class="footer-container__properties-block">
      <div class="footer-container__properties-block__properties">
        <a><img src="../../resources/images/brand_logo/FraserHospitality.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/FraserSuites.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/FraserResidence.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/FraserPlace.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/Capri.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/Modena.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/Malmaison.svg" alt=""></a>
        <a><img src="../../resources/images/brand_logo/HotelduVin.svg" alt=""></a>
      </div>
      <div class="footer-container__properties-block__menus">
        <div class="footer-container__properties-block__menus__fmenus">                    
          <a href="#">News</a>
          <a href="#">Sustainability</a>
          <a href="#">Investor Relations</a>
          <a href="#">Contact Us</a>
          <a href="#">Best Rate Guarantee</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-container__properties-block__menus__smicons">
          <a href="#"><i class="fa fa-wechat"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>                
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-container__copyright-block">
      <a href="#"><img src="../../resources/images/footer/frasers-property-logo.png" alt=""></a>
      <p>&copy; 2021 Frasers Hospitality Pte Ltd. A member of Frasers Property Group. </p>
    </div>
  </section>
    
</body>
</html>