<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breadcrumbs</title>
  <link href="../../site/css/_icon.css" rel="stylesheet">
  <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>

  <div class="breadcrumb">
    <nav class="cmp-breadcrumb">
      <ol class="cmp-breadcrumb__list">
        <li class="cmp-breadcrumb__item">
          <a href="#" class="cmp-breadcrumb__item-link">
            <span>Home</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cmp-breadcrumb__item">
          <a href="#" class="cmp-breadcrumb__item-link">
            <span>Our Brands</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active">
          <span>Frasers Residence</span>
        </li>
      </ol>
    </nav>
  </div>
  
</body>
</html>