<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraser World</title>
    <link rel="stylesheet" href="../../site/dist/custom.css">
  </head>
  <body>

    <section class="fraser-world bg-grey image_align_right padding-top-50 padding-bottom-50">
      <div class="grid-container">
        <div class="fraser-world__container">
          <div class="fraser-world__container--image_container">
            <img src="../../resources/images/fraser-world/rectangle-1955@3x.png" alt="" loading=lazy class="fraser-world__container--image_container-image">
          </div>
          <div class="fraser-world__container__text_container padding-30">
            <div class="fraser-world__container__text_container__brands_showcase mt-15">
              <img src="../../resources/images/fraser-world/Group 2900.png" alt="" class="fraser-world__container__text_container__brands_showcase--fraser_logo">
              <img src="../../resources/images/fraser-world/Group 2905.png" alt="" class="fraser-world__container__text_container__brands_showcase--fraser_logo">
            </div>
            <div class="fraser-world__container__text_container_title-container mt-15">  
              <span class="fraser-world__container__text_container_title-container--title_text no-mt">A World of BENEFITS AWAITS <span class="sebastian-boby-alt">you</span></span>
            </div>
            <div class="fraser-world__container__iternary mt-30">
              <span class="mb-30"> Free Stays</span>
              <span class="mb-30"> E-shopping vouchers</span>
              <span class="mb-30"> Late check-out</span>
              <span class="mb-30"><a class="color-light-grey" href="#">And more...</a></span>
            </div>
            <div class="fraser-world__container--join_link full-width">
              <a href="#" class="btn btn-inverse">join now</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>