<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraser World</title>
  <link rel="stylesheet" href="../../site/dist/custom.css">
</head>
<body>
  <section class="fraser-world bg-grey padding-top-50 padding-bottom-50">
    <div class="grid-container">
      <div class="grid-row">
        <div class="column fraser-world__image_container" style="background-image: url('../../resources/images/fraser-world/rectangle-1955@3x.png');"></div>
        <div class="column fraser-world__text_container padding-30">
          <div class="column fraser-world__brands_showcase">
            <img src="../../resources/images/fraser-world/Group 2900.png" alt="" class="fraser-world__brands_showcase--brands_fraser_logo">
            <img src="../../resources/images/fraser-world/Group 2905.png" alt="" class="fraser-world__brands_showcase--brands_fraser_logo">
          </div>
          <div class="column">  
            <span class="fraser-world__title_text no-mt">A World of BENEFITS AWAITS <span class="sebastian-bobby1">you</span></span>
          </div>
          <div class="column fraser-world__iternary mt-30 mb-15">
            <span class="mb-30"><i class=""></i> Free Stays</span>
            <span class="mb-30"><i class=""></i> E-shopping vouchers</span>
            <span class="mb-30"><i class=""></i> Late check-out</span>
            <span class="mb-30"><a class="color-light-grey" href="#">And more...</a></span>
          </div>
          <div class="column full-width">
            <a href="#" class="btn btn-inverse">join now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>